<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Cringe Or Not | Doing God's Work</title>

<meta name="description" content="Cringe or Not is the response to God's calling to find the cringiest picture on the Internet.">

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Bangers|Droid+Serif" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet" />
		<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.0/release/featherlight.min.css" type="text/css" rel="stylesheet" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90734509-1', 'auto');
  ga('send', 'pageview');

</script>

	</head>

	<body>
		<div class="wrapper">
		<header>
			<hgroup>
				<h1>Cringe</h1>
				<h2>If you don't have AIDS when you get here, you will when you leave...</h2>
			</hgroup>
			<hgroup class="developers">
				<h2>Adam Knee</h2>
				<h2><a href="http://adamknee.net/" target="_blank">adamknee.net</a></h2>
				<h2>Kirk Durbin</h2>
				<h2><a href="http://kirkdurbin.in/" target="_blank">kirkdurin.in</a></h2>
			</hgroup>
			<nav>
			        <a class="active" href="./">Vote</a>
			        <a href="./standings">Standings</a>
			</nav>
		</header>


		{{{body}}}

		<div class="fb">
			<a href="https://www.facebook.com/cringeornot/" target="_blank"><img alt="Cringe or Not's Facebook" title="Visit Us On Facebook!" src="img/fb.png"></a>
		</div>
		</div> <!--End .wrapper -->
	<script src="//code.jquery.com/jquery-latest.js"></script>
	<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
